{
  "plugins": ["prettier-plugin-organize-attributes","@prettier/plugin-php"],
  "attributeGroups": [
    "^class$",
    "^(id|name)$",
    "$DEFAULT",
    "^aria-",
    "^width$",
    "^ĥeight$",
    "^loading$"
  ]
}
